services:
  openwebui:
    image: ghcr.io/open-webui/open-webui:main
    container_name: openwebui
    restart: unless-stopped
    networks:
      - traefik
    environment:
      - OLLAMA_BASE_URL=http://ollama:11434
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.openwebui.rule=Host(`llm.server.home`)"
      - "traefik.http.routers.openwebui.entrypoints=websecure"
      - "traefik.http.routers.openwebui.tls=true"
      - "traefik.http.services.openwebui.loadbalancer.server.port=8080"

networks:
  traefik:
    external: true
