services:
  db:
    image: mariadb:11
    restart: unless-stopped
    environment:
      MARIADB_AUTO_UPGRADE: "1"
      MYSQL_DATABASE: wordpress
      MYSQL_USER: wpuser
      MYSQL_PASSWORD: "wp_pass"
      MYSQL_ROOT_PASSWORD: rootpass
    volumes:
      - ./db_data:/var/lib/mysql

  wordpress:
    image: wordpress:latest
    depends_on:
      - db
    restart: unless-stopped
    ports:
      - "80:80"
    environment:
      WORDPRESS_DB_HOST: db:3306
      WORDPRESS_DB_USER: wpuser
      WORDPRESS_DB_PASSWORD: "wp_pass"
      WORDPRESS_DB_NAME: wordpress
    volumes:
      - ./wp_data:/var/www/html
